.contenedorNosotros {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.2fr 1.5fr 0.5fr;
    grid-template-areas:
        "logoNosotros menuNosotros menuNosotros"
        "tituloNosotros tituloNosotros tituloNosotros"
        "parrafo1 - parrafo2"
        "footerNosotros footerNosotros footerNosotros";

    background-image: url(../multimedia/273537-coffee-shop-coffe-cup-cup-and-saucer-and-table-hd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .headerNosotros {
        grid-area: menuNosotros;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;

        .menuNosotros {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-size: 30px;

            li {
                &:hover {
                    font-size: 40px;
                    transition: font-size 0.7s;
                }

                text-decoration: none;
                color: darksalmon;
                padding-right: 55px;
                font-family: 'Amatic SC',
                cursive;
                /*google font importada en el html*/
            }

            a {

                &:hover {
                    text-decoration: underline;
                }

                border-radius: 15%;
                background-color:blanchedalmond;
                text-decoration: none;
                color: #592212;
                font-family: 'Amatic SC',
                cursive;
                /*google font importada en el html*/
            }
        }
    }

    @mixin sizes($width, $height) {
        width: $width;
        height: $height;
    }

    .logoNosotros {
        grid-area: logoNosotros;
        margin-top: 20px;

        img {
            @include sizes(150px, 150px);
            border-radius: 50%;
            display: flex;
            margin-left: 70px;
            flex-direction: row;
            justify-items: center;
            align-items: center;
        }
    }

    $colorFuente: (
        color: antiquewhite
    );

.tituloNosotros {

    grid-area: tituloNosotros;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-family: 'Amatic SC', cursive;
    color: map-get($colorFuente, color);

    h1 {
        font-size: 50px;
        border-radius: 15%;
        background: rgba(57, 25, 15, 0.5);
        /*rgb para background opacity*/

        animation-name: animacionTitulo;
        animation-duration: 6s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        /*enlace animacion tecto bievenida*/
    }
}

/*keyframe para animacion del h1 con texto de bienvenida*/
@keyframes animacionTitulo {
    0% {
        background-color: #A27B5C;
    }

    25% {
        background-color: #592212;
    }

    50% {
        background-color: #A27B5C;
    }

    75% {
        background-color: #592212;
    }

    100% {
        background-color: #A27B5C;
    }
}


.parrafo1 {
    grid-area: parrafo1;
    font-size: 18x;
    font-family: 'Edu SA Beginner', cursive;
    display: flex;
    justify-items: center;
    align-items: center;

    p {
        font-size: 20px;
        padding: 50px;
        color: antiquewhite;
        text-align: justify;
        background-color: #131a0c48;
        border-radius: 5%;
    }
}

.parrafo2 {
    grid-area: parrafo2;
    font-size: 18x;
    font-family: 'Edu SA Beginner', cursive;
    display: flex;
    justify-items: center;
    align-items: center;

    p {
        font-size: 20px;
        padding: 50px;
        color: antiquewhite;
        text-align: justify;
        background-color: #131a0c48;
        border-radius: 5%;
    }
}

.footerNosotros {
    grid-area: footerNosotros;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 230px;
    font-family: 'Amatic SC', cursive;
}

.fondoInstagram {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

$redes: (
    twitter:#55acee,
    facebook: #4267B2,
);

@each $red,
$color in $redes {
    .fondo-#{$red} {
        background-color: $color;
    }
}

@media screen and(max-width: 768px) {

    height: max-content;
    display: grid;
    grid-template-columns: 25% 35% 40%;
    grid-template-rows: 0.5fr 0.1fr 1fr 0.5fr 0.1fr;
    grid-template-areas:
        "menuNosotros menuNosotros menuNosotros"
        "tituloNosotros tituloNosotros tituloNosotros"
        "parrafo1 parrafo1 parrafo1"
        "parrafo2 parrafo2 parrafo2"
        "footerNosotros footerNosotros footerNosotros";

    .headerNosotros {
        justify-content: center;

        .menuNosotros {
            font-size: 35px;
        }
    }

}

@media screen and(max-width: 500px) {
    height: max-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.2fr 1fr 1fr 0.5fr 0.1fr;
    grid-template-areas:
        "logoNosotros"
        "tituloNosotros"
        "parrafo1"
        "parrafo2"
        "menuNosotros"
        "footerNosotros";

    .logoNosotros {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;

        img {
            margin-left: 0px;
        }
    }

    .tituloNosotros {
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .headerNosotros {
        display: flex;
        flex-direction: column;
        align-items: center;

        .menuNosotros {
            flex-direction: column;
            align-items: center;
            font-size: 50px;

            a {
                color: #592212;
            }
        }
    }

    .footerNosotros {
        margin-top: 80px;
    }
}
}