.contenedorNosotros {
    height: max-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
    grid-template-areas:
        "logoNosotros menuNosotros menuNosotros"
        "h1Nosotros h1Nosotros h1Nosotros"
        "parrafoNosotros parrafoNosotros parrafoNosotros"
        "footerNosotros footerNosotros footerNosotros";

    background-image: url(https://wallpapercrafter.com/sizes/1920x1080/273537-coffee-shop-coffe-cup-cup-and-saucer-and-table-hd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .headerNosotros {
        grid-area: menuNosotros;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;

        .menuNosotros {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            font-size: 30px;

            li {
                &:hover {
                    font-size: 40px;
                    transition: font-size 0.7s;
                }

                text-decoration: none;
                color: darksalmon;
                padding-right: 55px;
                font-family: 'Amatic SC',
                cursive;
                /*google font importada en el html*/
            }

            a {

                &:hover {
                    text-decoration: underline;
                }

                border-radius: 15%;
                background-color:blanchedalmond;
                text-decoration: none;
                color: #592212;
                font-family: 'Amatic SC',
                cursive;
                /*google font importada en el html*/
            }
        }
    }

    @mixin sizes($width, $height) {
        width: $width;
        height: $height;
    }

    .logoNosotros {
        grid-area: logoNosotros;
        margin-top: 20px;

        img {
            @include sizes(150px, 150px);
            border-radius: 50%;
            display: flex;
            margin-left: 70px;
            flex-direction: row;
            justify-items: center;
            align-items: center;
        }
    }

    .h1Nosotros {
        grid-area: h1Nosotros;
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 35px;
        font-family: 'Amatic SC', cursive;
        color: darksalmon;
    }

    .divNosotros {
        grid-area: parrafoNosotros;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 100px;

        p {
            grid-area: textoNosotros;
            font-size: 18x;
            font-family: 'Edu SA Beginner', cursive;
        }

        .p1{
            position: relative;
            background-color: #285AEB;
        }

        .p2{
            background-color: #d6249f;
        }

        .p3{
            background-color: #fdf497;
        }
    }
}

.footerNosotros {
    grid-area: footerNosotros;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 230px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    background: rgba(0, 0, 0, 0.24);
}

.fondoInstagram {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

$redes: (
    twitter:#55acee,
    facebook: #4267B2,
);

@each $red,
$color in $redes {
    .fondo-#{$red} {
        background-color: $color;
    }
}

@media screen and (max-width: 425px) {
    .contenedorNosotros {
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.2fr 0.1fr 1px;
        grid-template-areas:
            "logoIndex"
            "menuNosotros"
            "textoNosotros"
            "footerNosotros";
    }

    .headerNosotros {

        .menuNosotros {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 5px;

            li {
                padding-right: 10px;
                font-size: 20px;
            }

            a {
                padding-right: 10px;
                font-size: 20px;
            }
        }
    }

    .logoNosotros {

        img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: flex;
            margin-left: 90px;
            flex-direction: row;
            justify-items: center;
            align-items: center;
            margin-top: 15px;
            margin-bottom: 0px;
        }
    }

    .textoNosotros {
        background: rgba(0, 0, 0, 0.24);
    }

    .footerNosotros {
        align-items: center;
        justify-items: center;
        color: antiquewhite;
    }
}