* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilo header index */

.contenedorIndex {
    height: max-content;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 1.5fr 1fr;
    grid-template-areas:
        "logoIndex menuIndex menuIndex"
        "tituloIndex tituloIndex tituloIndex"
        "footerIndex footerIndex footerIndex";

    background-image: url(https://image.architonic.com/pro2-3/20229014/cw-coffee-bar-counter-03-main-211116-pro-b-arcit18.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* estilo logo index */

.logoIndex {
    grid-area: logoIndex;
    margin-top: 10px;
}

.imglogoIndex {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin-left: 70px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
}

/* estilo menu index */

.headerIndex {
    grid-area: menuIndex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.indexHeaderMenu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    margin-top: 30px;
}

.indexHeaderMenu li:hover {
    font-size: 40px;
    transition: font-size 0.7s;
    /*animacin li´s menu index*/
}

.menuIndex li a {
    text-decoration: none;
    color: darksalmon;
    padding-right: 40px;
    font-family: 'Amatic SC', cursive;
    /*google font importada en el html*/
}

/* estilo titulo central index */

.tituloIndex {
    grid-area: tituloIndex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 150px;
    margin-left: 30px;
    font-size: 55px;
    font-family: 'Amatic SC', cursive;
    color: antiquewhite;
}

.indexHeader__titulo {
    border-radius: 15%;
    background: rgba(57, 25, 15, 0.5);
    /*rgb para background opacity*/

    animation-name: animacionTitulo;
    animation-duration: 6s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*enlace animacion tecto bievenida*/
    font-size: 90px;
}

/*keyframe para animacion del h1 con texto de bienvenida*/
@keyframes animacionTitulo {
    0% {
        background-color: #A27B5C;
    }

    25% {
        background-color: #592212;
    }

    50% {
        background-color: #A27B5C;
    }

    75% {
        background-color: #592212;
    }

    100% {
        background-color: #A27B5C;
    }
}

/* estilo footer Index */

.footerIndex {
    grid-area: footerIndex;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 230px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    background: rgba(0, 0, 0, 0.24);
}

.fondoTwitter {
    background-color: #55acee;
}

.fondoFacebook {
    background-color: #4267B2;
}

.fondoInstagram {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

/* estilo submenu index */
.indexHeaderMenu li {

    display: inline-block;
    font-size: 30px;
    position: relative;
    padding: 20px;
}

.indexHeader__submenu {
    position: absolute;
    display: none;
    background-color: transparent;
    margin-left: -35px;
}

.indexHeader__submenu li {
    display: block;
}

.indexHeaderMenu li:hover .indexHeader__submenu {
    display: block;
}

.indexHeader__submenu a {
    font-size: 25px;
}

/* ------------Estilo nosotros----------- */
.contenedorNosotros {
    height: max-content;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    grid-template-areas:
        "logoIndex menuNosotros menuNosotros"
        "textoNosotros textoNosotros textoNosotros"
        "footerNosotros footerNosotros footerNosotros";

    background-image: url(https://images.unsplash.com/photo-1497515114629-f71d768fd07c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2084&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headerNosotros {
    grid-area: menuNosotros;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.menuNosotros {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
    font-size: 30px;
    margin-left: 300px;
    margin-top: -5px;
}

.menuNosotros li:hover {
    font-size: 40px;
    transition: font-size 0.7s;
}

.dropdown-menu li:hover {
    font-size: 30px;
    transition: font-size 0.7s;
}

.menuNosotros li a {
    text-decoration: none;
    color: darksalmon;
    padding-right: 55px;
    font-family: 'Amatic SC', cursive;
    /*google font importada en el html*/
}

.logoNosotros {
    grid-area: logoIndex;
}

.imglogoNosotros {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin-left: 70px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}

.logoNosotros img {
    margin-bottom: 10px;
}

.mainNosotros {
    grid-area: textoNosotros;
    color: antiquewhite;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 550px
}

.backgroundTextoNosotros {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}

.divNosotros {
    display: flex;
    flex-direction: column;
}

.h1Nosotros {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 35px;
    grid-area: h1;
    font-family: 'Amatic SC', cursive;
}

.textoNosotros {
    font-size: 18x;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    font-family: 'Edu SA Beginner', cursive;

}

.footerNosotros {
    grid-area: footerNosotros;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.nosotros__submenu {
    position: absolute;
    display: none;
    background-color: transparent;
}

.nosotros__submenu li {
    display: block;
}

.menuNosotros li:hover .nosotros__submenu {
    display: block;
}

.dropdown-menu {
    background-color: transparent;
    font-size: 20px;
}

/* --------------------------------------------- */

.carta__header a {
    position: sticky;
    top: 10px;
    bottom: 100px;
    text-align: center;
    color: #2d0000;
    background-color: lightgoldenrodyellow;
}

.carta__nombre {
    color: #592212;
    font-style: oblique;
}

.carta__titulo {
    color: #195c7f;
    text-align: center;
}

.carta__menu {
    list-style-type: none;
}

.carta__menu li {

    display: inline-block;
    font-size: 20px;
    position: relative;
    padding: 20px;
    color: #195c7f;
}

.carta__submenu {
    position: absolute;
    display: none;
    background-color: tan;
}

.carta__submenu li {
    display: block;
}

.carta__menu li:hover .carta__submenu {
    display: block;
}

.footer__carta {
    color: #592212;
    text-align: center;
    background-color: antiquewhite;
}

.nosotros__articulo {
    background-color: antiquewhite;
    text-align: center;
}

.img__carta {
    width: 5000;
    height: 5000;
}

/* -------------------------------------------- */

.galeria__header {
    position: sticky;
    top: 10px;
    bottom: 100px;
    text-align: center;
    color: #2d0000;
    background-color: lightgoldenrodyellow;
}

.gealeria__nombre {
    color: #592212;
    font-style: oblique;
}

.galeria__titulo {
    color: #195c7f;
    text-align: center;
}

.galeria__menu {
    list-style-type: none;
}

.galeria__menu li {

    display: inline-block;
    font-size: 20px;
    position: relative;
    padding: 20px;
    color: #195c7f;
}

.galeria__submenu {
    position: absolute;
    display: none;
    background-color: tan;
}

.galeria__submenu li {
    display: block;
}

.galeria__menu li:hover .galeria_submenu {
    display: block;
}

.footer__carta {
    color: #592212;
    text-align: center;
    background-color: antiquewhite;
}

.main__galeria {
    background-color: antiquewhite;
    text-align: center;
}

.label1 {
    color: #195c7f;
    text-align: center;

}

.img1 {
    width: 575px;
    height: 500px;
}

.label2 {
    color: #195c7f;
    text-align: center;
}

.img2 {
    width: 500px;
    height: 550px;
}


.label3 {
    color: #195c7f;
    text-align: center;
}

.img3 {
    width: 575px;
    height: 550px;
}

/* -------------------------------- */

.reservas__header {
    position: sticky;
    top: 10px;
    bottom: 100px;
    text-align: center;
    color: #2d0000;
    background-color: lightgoldenrodyellow;
}

.reservas__nombre {
    color: #592212;
    font-style: oblique;
}

.reservas__titulo {
    color: #195c7f;
    text-align: center;
}

.reservas__menu {
    list-style-type: none;
}

.reservas__menu li {

    display: inline-block;
    font-size: 20px;
    position: relative;
    padding: 20px;
    color: #195c7f;
}

.reservas__submenu {
    position: absolute;
    display: none;
    background-color: tan;
}

.reservas__submenu li {
    display: block;
}

.reservas__menu li:hover .reservas__submenu {
    display: block;
}

.footer__reservas {
    color: #592212;
    text-align: center;
    background-color: antiquewhite;
}

.form__reservas {
    background-color: antiquewhite;
    padding: 45px;
}

/*------QUERY TABLET VIEW-------*/

@media screen and (max-width: 768px) {
    .contenedorIndex {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "logoIndex tituloIndex"
            "menuIndex menuIndex"
            "footerIndex footerIndex";
    }

    .logoIndex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .imglogoIndex {
        margin-left: 0px;
    }

    .tituloIndex {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }

    .indexHeaderMenu {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
        background: rgba(57, 25, 15, 0.5);
    }

    .menuIndex li a {
        padding-right: 30px;
        color: antiquewhite;
    }

}

@media screen and (max-width: 768px) {
    .contenedorNosotros {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "logoIndex menuNosotros"
            "textoNosotros textoNosotros"
            "footerNosotros footerNosotros";
    }

    .logoIndex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .imglogoIndex {
        margin-left: 0px;
    }

    .menuNosotros{
        margin-left: 200px;
        list-style-type: none;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        background: rgba(57, 25, 15, 0.5);
    }

    .textoNosotros{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
    }
}


/*------QUERY MOBILE VIEW-------*/

@media screen and (max-width: 425px) {
    .contenedorIndex {
        grid-template-columns: 100%;
        grid-template-rows: 0.5fr 0.5fr 0.1fr 0.1fr;
        grid-template-areas:
            "logoIndex"
            "tituloIndex"
            "menuIndex"
            "footerIndex";
    }

    .logoIndex {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
    }

    .imglogoIndex {
        margin-left: 0px;
    }

    .indexHeaderMenu {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-top: 0px;
        background-color: transparent;
    }

    .menuIndex {
        align-items: center;
        justify-content: center;
    }

    .menuIndex li a {
        text-decoration: none;
        color: bisque;
        background-color: #592212;
        padding-right: 0px;
    }

    .tituloIndex {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
        margin-left: 0px;
    }

    .footerIndex {
        align-items: center;
    }
}