.contenedorIndex {
  height: max-content;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "logoIndex menuIndex menuIndex" "tituloIndex tituloIndex tituloIndex" "footerIndex footerIndex footerIndex";
  background-image: url(https://image.architonic.com/pro2-3/20229014/cw-coffee-bar-counter-03-main-211116-pro-b-arcit18.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*keyframe para animacion del h1 con texto de bienvenida*/ }
  .contenedorIndex .logoIndex {
    grid-area: logoIndex;
    margin-top: 20px; }
    .contenedorIndex .logoIndex img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      margin-left: 70px;
      flex-direction: row;
      justify-items: center;
      align-items: center; }
  .contenedorIndex .headerIndex {
    grid-area: menuIndex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; }
    .contenedorIndex .headerIndex .menuIndex {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-end;
      align-content: flex-end;
      font-size: 30px; }
      .contenedorIndex .headerIndex .menuIndex li {
        text-decoration: none;
        color: darksalmon;
        padding-right: 55px;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorIndex .headerIndex .menuIndex li:hover {
          font-size: 40px;
          transition: font-size 0.7s; }
      .contenedorIndex .headerIndex .menuIndex a {
        border-radius: 15%;
        background-color: blanchedalmond;
        text-decoration: none;
        color: #592212;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorIndex .headerIndex .menuIndex a:hover {
          text-decoration: underline; }
  .contenedorIndex .tituloIndex {
    grid-area: tituloIndex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-top: 150px;
    margin-left: 30px;
    font-size: 55px;
    font-family: 'Amatic SC', cursive;
    color: antiquewhite; }
    .contenedorIndex .tituloIndex h1 {
      border-radius: 15%;
      background: rgba(57, 25, 15, 0.5);
      /*rgb para background opacity*/
      animation-name: animacionTitulo;
      animation-duration: 6s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /*enlace animacion tecto bievenida*/
      font-size: 90px; }

@keyframes animacionTitulo {
  0% {
    background-color: #A27B5C; }
  25% {
    background-color: #592212; }
  50% {
    background-color: #A27B5C; }
  75% {
    background-color: #592212; }
  100% {
    background-color: #A27B5C; } }
  .contenedorIndex .footerIndex {
    grid-area: footerIndex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 230px;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    background: rgba(0, 0, 0, 0.24); }
  .contenedorIndex .fondoInstagram {
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
  .contenedorIndex .fondo-twitter {
    background-color: #55acee; }
  .contenedorIndex .fondo-facebook {
    background-color: #4267B2; }
  @media screen and (max-width: 768px) {
    .contenedorIndex .contenedorIndex {
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "logoIndex tituloIndex" "menuIndex menuIndex" "footerIndex footerIndex"; }
    .contenedorIndex .logoIndex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center; }
      .contenedorIndex .logoIndex img {
        margin-left: 0px; }
    .contenedorIndex .tituloIndex {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      margin-left: 0px; }
    .contenedorIndex .headerIndex {
      align-content: center;
      justify-content: center;
      margin-right: 20px; }
      .contenedorIndex .headerIndex .menuIndex {
        background: rgba(57, 25, 15, 0.5); }
        .contenedorIndex .headerIndex .menuIndex li {
          padding-right: 30px;
          color: antiquewhite; }
        .contenedorIndex .headerIndex .menuIndex a {
          padding-right: 30px;
          color: antiquewhite; } }
  @media screen and (max-width: 425px) {
    .contenedorIndex .contenedorIndex {
      grid-template-columns: 100%;
      grid-template-rows: 0.5fr 0.5fr 0.1fr 0.1fr;
      grid-template-areas: "logoIndex" "tituloIndex" "menuIndex" "footerIndex"; }
    .contenedorIndex .logoIndex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center; }
      .contenedorIndex .logoIndex img {
        margin-left: 0px; }
    .contenedorIndex .headerIndex {
      margin-left: -50px;
      padding: 5px; }
      .contenedorIndex .headerIndex .menuIndex {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 0px;
        background-color: transparent;
        padding-top: 75px; }
        .contenedorIndex .headerIndex .menuIndex li {
          text-decoration: none;
          color: bisque;
          padding-right: 0px; }
        .contenedorIndex .headerIndex .menuIndex a {
          text-decoration: none;
          color: bisque;
          background-color: #592212;
          padding-right: 0px; }
    .contenedorIndex .tituloIndex {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 0px;
      margin-left: 0px; }
    .contenedorIndex .footerIndex {
      align-items: center; } }

.contenedorNosotros {
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
  grid-template-areas: "logoNosotros menuNosotros menuNosotros" "h1Nosotros h1Nosotros h1Nosotros" "parrafoNosotros parrafoNosotros parrafoNosotros" "footerNosotros footerNosotros footerNosotros";
  background-image: url(https://wallpapercrafter.com/sizes/1920x1080/273537-coffee-shop-coffe-cup-cup-and-saucer-and-table-hd.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contenedorNosotros .headerNosotros {
    grid-area: menuNosotros;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end; }
    .contenedorNosotros .headerNosotros .menuNosotros {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      font-size: 30px; }
      .contenedorNosotros .headerNosotros .menuNosotros li {
        text-decoration: none;
        color: darksalmon;
        padding-right: 55px;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorNosotros .headerNosotros .menuNosotros li:hover {
          font-size: 40px;
          transition: font-size 0.7s; }
      .contenedorNosotros .headerNosotros .menuNosotros a {
        border-radius: 15%;
        background-color: blanchedalmond;
        text-decoration: none;
        color: #592212;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorNosotros .headerNosotros .menuNosotros a:hover {
          text-decoration: underline; }
  .contenedorNosotros .logoNosotros {
    grid-area: logoNosotros;
    margin-top: 20px; }
    .contenedorNosotros .logoNosotros img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      margin-left: 70px;
      flex-direction: row;
      justify-items: center;
      align-items: center; }
  .contenedorNosotros .h1Nosotros {
    grid-area: h1Nosotros;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 35px;
    font-family: 'Amatic SC', cursive;
    color: darksalmon; }
  .contenedorNosotros .divNosotros {
    grid-area: parrafoNosotros;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px; }
    .contenedorNosotros .divNosotros p {
      grid-area: textoNosotros;
      font-size: 18x;
      font-family: 'Edu SA Beginner', cursive; }
    .contenedorNosotros .divNosotros .p1 {
      position: relative;
      background-color: #285AEB; }
    .contenedorNosotros .divNosotros .p2 {
      background-color: #d6249f; }
    .contenedorNosotros .divNosotros .p3 {
      background-color: #fdf497; }

.footerNosotros {
  grid-area: footerNosotros;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 230px;
  align-items: center;
  font-family: 'Amatic SC', cursive;
  background: rgba(0, 0, 0, 0.24); }

.fondoInstagram {
  background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }

.fondo-twitter {
  background-color: #55acee; }

.fondo-facebook {
  background-color: #4267B2; }

@media screen and (max-width: 425px) {
  .contenedorNosotros {
    grid-template-columns: 100%;
    grid-template-rows: 0.5fr 0.2fr 0.1fr 1px;
    grid-template-areas: "logoIndex" "menuNosotros" "textoNosotros" "footerNosotros"; }
  .headerNosotros .menuNosotros {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5px; }
    .headerNosotros .menuNosotros li {
      padding-right: 10px;
      font-size: 20px; }
    .headerNosotros .menuNosotros a {
      padding-right: 10px;
      font-size: 20px; }
  .logoNosotros img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    margin-left: 90px;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 0px; }
  .textoNosotros {
    background: rgba(0, 0, 0, 0.24); }
  .footerNosotros {
    align-items: center;
    justify-items: center;
    color: antiquewhite; } }

.contenedorCarta {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 7fr;
  grid-template-areas: "logoCarta menuCarta menuCarta" "tituloCarta tituloCarta tituloCarta" "mainCarta mainCarta mainCarta";
  background-image: url(https://rare-gallery.com/uploads/posts/519094-basket-chalkboard.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*keyframe para animacion del h1 con texto de bienvenida*/ }
  .contenedorCarta .logoCarta {
    grid-area: logoCarta;
    margin-top: 20px; }
    .contenedorCarta .logoCarta img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      display: flex;
      margin-left: 70px;
      flex-direction: row;
      justify-items: center;
      align-items: center; }
  .contenedorCarta .headerCarta {
    grid-area: menuCarta;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end; }
    .contenedorCarta .headerCarta .menuCarta {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      font-size: 35px;
      margin-top: 80px;
      padding-right: 55px; }
      .contenedorCarta .headerCarta .menuCarta li {
        text-decoration: none;
        color: darksalmon;
        padding-right: 55px;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorCarta .headerCarta .menuCarta li:hover {
          font-size: 40px;
          transition: font-size 0.7s; }
      .contenedorCarta .headerCarta .menuCarta a {
        border-radius: 15%;
        background-color: blanchedalmond;
        text-decoration: none;
        color: #592212;
        font-family: 'Amatic SC', cursive;
        /*google font importada en el html*/ }
        .contenedorCarta .headerCarta .menuCarta a:hover {
          text-decoration: underline; }
  .contenedorCarta .tituloCarta {
    grid-area: tituloCarta;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    color: antiquewhite; }
    .contenedorCarta .tituloCarta h1 {
      border-radius: 15%;
      background: rgba(57, 25, 15, 0.5);
      /*rgb para background opacity*/
      animation-name: animacionTitulo;
      animation-duration: 6s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      /*enlace animacion tecto bievenida*/ }

@keyframes animacionTitulo {
  0% {
    background-color: #A27B5C; }
  25% {
    background-color: #592212; }
  50% {
    background-color: #A27B5C; }
  75% {
    background-color: #592212; }
  100% {
    background-color: #A27B5C; } }
  .contenedorCarta .mainCarta {
    grid-area: mainCarta;
    display: flex;
    align-content: center;
    justify-content: center; }
    .contenedorCarta .mainCarta .menu-area .single-menu {
      background-color: #fff;
      border-radius: 25px;
      padding: 30px 30px;
      margin-bottom: 30px;
      padding-bottom: 20px;
      color: #592212;
      font-size: 18px;
      font-weight: 500; }
      .contenedorCarta .mainCarta .menu-area .single-menu div:hover {
        background-color: #592212;
        transition: background-color 1s;
        color: #fff;
        border-radius: 5px; }
      .contenedorCarta .mainCarta .menu-area .single-menu .title-div {
        padding-bottom: 20px; }
      .contenedorCarta .mainCarta .menu-area .single-menu .price {
        color: #b68834;
        font-size: 18px;
        font-weight: 300; }
      .contenedorCarta .mainCarta .menu-area .single-menu p {
        margin-bottom: 0; }
